<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>{{ title }}</title>
</head>
<body>
  <header class="site-header">
    <h1>Very Cool Django Blog</h1>
    <a href="{% url 'new_article' %}">New Article</a>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="site-footer">
    &copy; Registered Cool Dude Blog 2019
  </footer>
</body>
</html>