<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Welcome!</h1>
  <h2>{{ date }}</h2>

  <h3>what is a client?</h3>
  <p>A user or the users machine that obtains information by making requests from the server.</p>

  <h3>what is a server?</h3>
  <p>a computer/machine that holds information and databases that accepts requests from client machines and responds with the info they are requesting.</p>

  <h3>what is an HTTP request?</h3>
  <p>An HTTP request is the combination of the URL (that represents the resource the client is attempting to access), the request type (GET, CREATE, PUT/POST, or DELETE), the meta data, and sometimes a body of data. </p>

  <h3>what is an HTTP response?</h3>
  <p>An HTTP Response is what is returned from the HTTP request. This would be the Status code (404 Not Found if it doesn't exist, 200 means a-okay!), the Header(meta data), and the body, which is the data that the user interacts with.</p>

  <h3>what is Django and why do we use it?</h3>
  <p>Django is a framework for Python that helps us build web apps and connect them to databases. It takes care of a lot of hassle involved in the web development; enables users to focus on developing components needed for their application.</p>
</body>
</html>