{% extends 'base.html' %}

{% block content %}
<body>
  <header class="home-header">
    <h2 class="home-title">Welcome!</h2>
    <h3 class="site-date">{{ date }}</h3>
  </header>
  <main class="home-content">
    <ul>
      {% for article in articles %}
      <li>
        <a href="{% url 'article_details' id=article.pk %}">
          <h1>{{ article.title }}</h1>
        </a>
        <p>By: {{ article.author }}</p>
        <p>
          {% for topic in article.topic.all %}
          {{ topic.category }} |
          {% endfor %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </main>
</body>
{% endblock %}