<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Welcome!</h1>
  <h2>{{ date }}</h2>

  <ul>
    {% for article in articles %}
      <li>
        <a href="{% url 'article_details' id=article.pk %}">
          <h1>{{ article.title }}</h1>
        </a>
        <p>
          Topics: 
          {% for topic in article.topic.all %}
            {{ topic.category }} |
          {% endfor %}
        </p>
      </li>
    {% endfor %}
  </ul>

</body>
</html>